.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bottom-button {
  margin-bottom: 16px;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: center;
  gap: 1rem;
}
